* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
}

.swiper-wrapper {
  margin: 0;
  padding: 0;
}

.swiper-slide {
  margin: 0 !important;
}
