* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.swiper-wrapper {
  margin: 0;
  padding: 0;
}

.swiper-slide {
  margin: 0 !important;
}
